{% extends 'base_data.html' %}
{% load i18n %}
{% load humanize %}
{% load bootstrap4 %}

{% block title %}{% trans "Bookmakers" %}{% endblock %}
{% block data_title %}{% trans "Bookmakers" %}{% endblock %}

{% block data_content %}
    <table class="uk-table uk-table-striped uk-table-hover uk-table-small">
        <thead>
        <tr>
            <th>{% trans "Name" %}</th>
            <th>{% trans "URL" %}</th>
            <th>{% trans "Country" %}</th>
            <th>{% trans "Logo" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            <tr>
                <td>{{ object.name }}</td>
                <td><a href="{{ object.url }}">{{ object.url }}</a></td>
                <td>{{ object.country.name }}</td>
                <td>
                    {% if object.logo %}
                        <img class="uk-preserve-width" src="{{ object.logo.url }}" width="40" alt="">
                    {% else %}
                        <img class="uk-preserve-width" src="#" width="40" alt="NO IMAGE">
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% bootstrap_pagination page_obj %}
{% endblock %}